{{- if $.Values.kubeslice.egsCoreApis.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: egs-core-apis
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: egs-core-apis
rules:
  - apiGroups: [ "" ]
    resources: [ "serviceaccounts/token" ]
    verbs: [ "create" ]
  - apiGroups: [ "" ]
    resources: [ "serviceaccounts" ]
    verbs: [ "get", "list" ]
  - apiGroups: [ "" ]
    resources: [ "configmaps" ]
    verbs: [ "get", "list" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: egs-core-apis
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: egs-core-apis
subjects:
  - kind: ServiceAccount
    name: egs-core-apis
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: egs-core-apis
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [ "" ]
    resources: [ "secrets" ]
    verbs: [ "get" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: egs-core-apis
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: egs-core-apis
subjects:
  - kind: ServiceAccount
    name: egs-core-apis
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.kubeslice.egsCoreApis.labels }}
  labels:
  {{ toYaml .Values.kubeslice.egsCoreApis.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.egsCoreApis.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.egsCoreApis.annotations | nindent 4 }}
  {{- end }}
  name: egs-core-apis
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
    {{- if .Values.kubeslice.egsCoreApis.labels }}
    {{ toYaml .Values.kubeslice.egsCoreApis.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.kubeslice.egsCoreApis.annotations }}
        {{ toYaml .Values.kubeslice.egsCoreApis.annotations | nindent 8 }}
        {{- end }}
      {{- if .Values.kubeslice.egsCoreApis.labels }}
      labels:
      {{ toYaml .Values.kubeslice.egsCoreApis.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.kubeslice.egsCoreApis.tolerations }}
      tolerations: {{ toYaml .Values.kubeslice.egsCoreApis.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.kubeslice.egsCoreApis.affinity }}
      affinity:
      {{ toYaml .Values.kubeslice.egsCoreApis.affinity | nindent 8 }}
      {{- end }}
      containers:
        - name: egs-core-apis
          securityContext:
          {{- if .Values.kubeslice.egsCoreApis.containerSecurityContext }}
          {{ toYaml .Values.kubeslice.egsCoreApis.containerSecurityContext | nindent 12 }}
          {{- end }}
          {{- if .Values.kubeslice.egsCoreApis.resources }}
          resources: {{ toYaml .Values.kubeslice.egsCoreApis.resources | nindent 12 }}
          {{- end }}
          env:
            - name: EGS_CORE_APIS_API_KEY_SECRET_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: EGS_CORE_APIS_PORT
              value: "8080"
            - name: EGS_CORE_APIS_ENABLE_EXTERNAL_TOKEN
              value: "true"
            - name: EGS_CORE_APIS_EGS_API_GATEWAY_ENDPOINT
              value: "http://kubeslice-api-gw:8080/"
          ports:
            - containerPort: 8080
          image: {{ include "component.image" (dict "component" .Values.kubeslice.egsCoreApis "global" .Values.global "context" .) }}
          imagePullPolicy: {{ include "component.imagePullPolicy" (dict "component" .Values.kubeslice.egsCoreApis "global" .Values.global "context" .) }}
      restartPolicy: Always
      {{- if include "global.imagePullSecretsWithFallback" . }}
      imagePullSecrets:
{{ include "global.imagePullSecretsWithFallback" . | indent 8 }}
      {{- end }}
      serviceAccountName: egs-core-apis
      securityContext:
      {{- if .Values.kubeslice.egsCoreApis.podSecurityContext }}
      {{ toYaml .Values.kubeslice.egsCoreApis.podSecurityContext | nindent 8 }}
      {{- end }}
  replicas: 1
---
apiVersion: v1
kind: Service
metadata:
  {{- if .Values.kubeslice.egsCoreApis.labels }}
  labels:
  {{ toYaml .Values.kubeslice.egsCoreApis.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.egsCoreApis.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.egsCoreApis.annotations | nindent 4 }}
  {{- end }}
  name: egs-core-apis
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 8080
      name: http
      protocol: TCP
      targetPort: 8080
  selector:
    {{- if .Values.kubeslice.egsCoreApis.labels }}
    {{ toYaml .Values.kubeslice.egsCoreApis.labels | nindent 4 }}
    {{- end }}
  type: {{ .Values.kubeslice.egsCoreApis.service.type }}
{{- end }}
