---
apiVersion: v1
kind: Service
metadata:
  {{- if .Values.kubeslice.apigw.labels }}
  labels:
  {{ toYaml .Values.kubeslice.apigw.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.apigw.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.apigw.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-api-gw
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 3000
  selector:
    {{- if .Values.kubeslice.apigw.labels }}
    {{ toYaml .Values.kubeslice.apigw.labels | nindent 4 }}
    {{- end }}
  type: {{ .Values.kubeslice.apigw.service.type }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.kubeslice.apigw.labels }}
  labels:
  {{ toYaml .Values.kubeslice.apigw.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.apigw.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.apigw.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-api-gw
spec:
  replicas: 1
  selector:
    matchLabels:
    {{- if .Values.kubeslice.apigw.labels }}
    {{ toYaml .Values.kubeslice.apigw.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.kubeslice.apigw.annotations }}
        {{ toYaml .Values.kubeslice.apigw.annotations | nindent 8 }}
        {{- end }}
      {{- if .Values.kubeslice.apigw.labels }}
      labels:
      {{ toYaml .Values.kubeslice.apigw.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.kubeslice.apigw.affinity }}
      affinity:
      {{ toYaml .Values.kubeslice.apigw.affinity | nindent 8 }}
      {{- end }}
      containers:
        - image: '{{ .Values.kubeslice.apigw.imageRegistry }}/{{ .Values.kubeslice.apigw.image }}:{{ .Values.kubeslice.apigw.tag }}'
          imagePullPolicy: '{{ .Values.kubeslice.apigw.pullPolicy }}'
          env:
            - name: DCGM_METRIC_JOB_FILTER
              value: tgi
            - name: KUBESLICE_CONTROLLER_PROMETHEUS
              value: {{ .Values.kubeslice.prometheus.url }}
            - name: KUBESLICE_WORKER_INSTALLER_IMAGE
              value: '{{ .Values.kubeslice.workerinstaller.imageRegistry }}/{{ .Values.kubeslice.workerinstaller.image }}:{{ .Values.kubeslice.workerinstaller.tag }}'
            - name: KUBESLICE_WORKER_INSTALLER_IMAGE_PULL_POLICY
              value: '{{ .Values.kubeslice.workerinstaller.pullPolicy}}'
            - name: COST_API_URI
              value: {{ .Values.kubeTally.costApiUrl }}
            - name: SLICE_USER_CONFIG_MAP_NAME
              value: slice-user-config
            - name: INVENTORY_MANAGER_ADDRESS
              value: {{ .Values.egs.InventoryManagerAddress }}
            - name: QUEUE_MANAGER_ADDRESS
              value: {{ .Values.egs.QueueManagerAddress }}
            - name: CORE_APIS_ENDPOINT
              value: {{ .Values.egs.CoreApisUrl }}
          {{- if .Values.global.gpr.enableLimits }}
            - name: API_GATEWAY_REQUEST_LIMITS_CONFIG_PATH
              value: /app/config/request-limits/request-limits.json
          {{- end }}
          name: kubeslice-api-gw
          securityContext:
          {{- if .Values.kubeslice.apigw.containerSecurityContext }}
          {{ toYaml .Values.kubeslice.apigw.containerSecurityContext | nindent 12 }}
          {{- end }}
          {{- if .Values.kubeslice.apigw.resources }}
          resources: {{ toYaml .Values.kubeslice.apigw.resources | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /app/secrets
              name: oidc-secrets
            - mountPath: /app/config/product.json
              subPath: product.json
              name: product-config
          {{- if .Values.global.gpr.enableLimits }}
            - mountPath: /app/config/request-limits
              name: kubeslice-api-gw-request-limits
          {{- end }}
      {{- if .Values.imagePullSecretsName }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretsName }}
      {{- end }}
      restartPolicy: Always
      securityContext:
      {{- if .Values.kubeslice.apigw.podSecurityContext }}
      {{ toYaml .Values.kubeslice.apigw.podSecurityContext | nindent 8 }}
      {{- end }}
      serviceAccount: kubeslice-api-gw
      serviceAccountName: kubeslice-api-gw
      volumes:
        - name: oidc-secrets
          secret:
            secretName: kubeslice-ui-oidc
            optional: true

        - name: product-config
          projected:
            sources:
              - configMap:
                  name: kubeslice-ui-json-config
        - name: kubeslice-api-gw-request-limits
          configMap:
            name: kubeslice-api-gw-request-limits
            optional: true
                  
      {{- if .Values.kubeslice.apigw.tolerations }}
      tolerations: {{ toYaml .Values.kubeslice.apigw.tolerations | nindent 8 }}
      {{- end }}
---
# create configmap called worker-chart-options
apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-chart-options
data:
  # set the chart options
  workerChartOptions.yaml: |
    workerChartOptions:
      controllerChartName: {{- if eq .Values.kubeslice.productName "kubetally" }} kubetally-controller {{- end }} # [Optional] Name of the controller chart. Default is `kubeslice-controller`
      metricsInsecure: # [Optional] Default is false. Set to true if required to disable TLS for metrics server.
      networkingEnabled: {{- if eq .Values.kubeslice.productName "kubetally" }} false   {{- end }} # [Optional] Default is true. Set to false if required to disable networking.
      repository:  {{- if eq .Values.kubeslice.productName "kubetally" }} 'https://kubeslice.aveshalabs.io/repository/kubetally-helm-ent-prod/'   {{- end }}  # [Optional] Helm repository URL for worker charts. Default is `https://kubeslice.aveshalabs.io/repository/kubeslice-helm-ent-prod/`
      releaseName:  {{- if eq .Values.kubeslice.productName "kubetally" }} kubetally-worker   {{- end }}  # [Optional] Release name of kubeslice-worker. Default is `kubeslice-worker`
      chartName: {{- if eq .Values.kubeslice.productName "kubetally" }} kubetally-worker   {{- end }}  # [Optional] Name of the chart. Default is `kubeslice-worker`
      chartVersion: # [Optional] Version of the chart. Default is the latest version
      debug: # [Optional] Default is false. Set to true if required to enable debug mode.
      helmCredentials:
        username: # [Optional] Required for dev-charts/dev-charts-ent
        password: # [Optional] Required for dev-charts/dev-charts-ent
      imagePullSecrets:
        repository: # [Optional] Required for dev-charts-ent
        username: # [Optional] Required for dev-charts-ent
        password: # [Optional] Required for dev-charts-ent
        email: # [Optional] Required for dev-charts-ent