---
apiVersion: v1
kind: Service
metadata:
  {{- if .Values.kubeslice.ui.labels }}
  labels:
  {{ toYaml .Values.kubeslice.ui.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.ui.annotations }}
  annotations:
    checksum/secret: {{ now | quote | sha256sum }}
  {{ toYaml .Values.kubeslice.ui.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-ui
  namespace: kubeslice-controller
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    {{- if .Values.kubeslice.ui.labels }}
    {{ toYaml .Values.kubeslice.ui.labels | nindent 4 }}
    {{- end }}
  type: {{ .Values.kubeslice.ui.service.type }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.kubeslice.ui.labels }}
  labels:
  {{ toYaml .Values.kubeslice.ui.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.ui.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.ui.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-ui
  namespace: kubeslice-controller
spec:
  replicas: 1
  selector:
    matchLabels:
    {{- if .Values.kubeslice.ui.labels }}
    {{ toYaml .Values.kubeslice.ui.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.kubeslice.ui.annotations }}
        {{ toYaml .Values.kubeslice.ui.annotations | nindent 8 }}
        {{- end }}
      {{- if .Values.kubeslice.ui.labels }}
      labels:
      {{ toYaml .Values.kubeslice.ui.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.kubeslice.ui.tolerations }}
      tolerations: 
      {{ toYaml .Values.kubeslice.ui.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.kubeslice.ui.affinity }}
      affinity:
      {{ toYaml .Values.kubeslice.ui.affinity | nindent 8 }}
      {{- end }}
      containers:
      - image: {{ include "component.image" (dict "component" .Values.kubeslice.ui "global" .Values.global "context" .) }}
        imagePullPolicy: {{ include "component.imagePullPolicy" (dict "component" .Values.kubeslice.ui "global" .Values.global "context" .) }}
        name: kubeslice-ui
        securityContext:
        {{- if .Values.kubeslice.ui.containerSecurityContext }}
        {{ toYaml .Values.kubeslice.ui.containerSecurityContext | nindent 10 }}
        {{- end }}
        env:
        - name: KUBESLICE_CONTROLLER_PROMETHEUS
          value: {{ .Values.kubeslice.prometheus.url }}
        - name: REACT_APP_SOCKET_URL
          value: 'ws://kubeslice-api-gw.kubeslice-controller.svc.cluster.local:3000'
        ports:
        - containerPort: 8080
      {{- if include "global.imagePullSecretsWithFallback" . }}
      imagePullSecrets:
{{ include "global.imagePullSecretsWithFallback" . | indent 8 }}
      {{- end }}
      serviceAccountName: kubeslice-api-gw
      serviceAccount: kubeslice-api-gw
      securityContext:
      {{- if .Values.kubeslice.ui.podSecurityContext }}
      {{ toYaml .Values.kubeslice.ui.podSecurityContext | nindent 8 }}
      {{- end }}
