apiVersion: v1
kind: ConfigMap
metadata:
  name: kubeslice-api-gw-request-limits
{{- if .Values.global.gpr.enableLimits }}
data:
  request-limits.json: |
    {
      "gpr": {
        "limits": {
          "gpusPerNode": {
            "max": {{ .Values.global.gpr.limits.gpusPerNode.max }}
          },
          "gpuNodes": {
            "max": {{ .Values.global.gpr.limits.gpuNodes.max }}
          },
          "pendingGprs": {
            "max": {{ .Values.global.gpr.limits.pendingGprs.max }}
          },
          "idleTimeout": {
            "max": {{ .Values.global.gpr.limits.idleTimeout.max }},
            "fallback": "{{ .Values.global.gpr.limits.idleTimeout.fallback }}",
            "forceEnforcement": {{ .Values.global.gpr.limits.idleTimeout.forceEnforcement }}
          },
          "exitDuration": {
            "max": {{ .Values.global.gpr.limits.exitDuration.max }}
          },
          "priority": {
            "max": {{ .Values.global.gpr.limits.priority.max }},
            "bypass": {{ .Values.global.gpr.limits.priority.bypass }}
          },
          "workspaceGprQueue": {
            "max": {{ .Values.global.gpr.limits.workspaceGprQueue.max }}
          }
        }
      }
    }
{{- end }}