---
{{- if and .Values.global.imagePullSecrets .Values.global.imagePullSecrets.registry .Values.global.imagePullSecrets.username .Values.global.imagePullSecrets.password }}
apiVersion: v1
data:
  .dockerconfigjson: {{
                        printf "{\"auths\":{\"%s\":{\"username\":\"%s\",\"password\":\"%s\",\"email\":\"%s\",\"auth\":\"%s\"}}}"
                        .Values.global.imagePullSecrets.registry
                        .Values.global.imagePullSecrets.username
                        .Values.global.imagePullSecrets.password
                        .Values.global.imagePullSecrets.email
                        (printf "%s:%s" .Values.global.imagePullSecrets.username .Values.global.imagePullSecrets.password | b64enc)
                         | b64enc
                     }}
kind: Secret
metadata:
  name: {{ .Values.imagePullSecretsName }}
  namespace: {{ .Release.Namespace }}
type: kubernetes.io/dockerconfigjson
{{- end }}
---
{{- if and .Values.global.imagePullSecrets .Values.global.imagePullSecrets.dockerconfigjson }}
apiVersion: v1
data:
  .dockerconfigjson: {{ .Values.global.imagePullSecrets.dockerconfigjson }}
kind: Secret
metadata:
  name: {{ .Values.imagePullSecretsName }}
  namespace: {{ .Release.Namespace }}
type: kubernetes.io/dockerconfigjson
{{- end }}