---
apiVersion: v1
kind: Service
metadata:
  {{- if .Values.kubeslice.uiproxy.labels }}
  labels:
  {{ toYaml .Values.kubeslice.uiproxy.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.uiproxy.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.uiproxy.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-ui-proxy
spec:
  ports:
    - port: 443
      targetPort: 8443
      protocol: TCP
      name: http
      {{- if eq .Values.kubeslice.uiproxy.service.type "NodePort" }}
      nodePort: {{ .Values.kubeslice.uiproxy.service.nodePort }}
      {{ end }}
  selector:
    {{- if .Values.kubeslice.uiproxy.labels }}
    {{ toYaml .Values.kubeslice.uiproxy.labels | nindent 4 }}
    {{- end }}
  type: {{ .Values.kubeslice.uiproxy.service.type }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.kubeslice.uiproxy.labels }}
  labels:
  {{ toYaml .Values.kubeslice.uiproxy.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.kubeslice.uiproxy.annotations }}
  annotations:
  {{ toYaml .Values.kubeslice.uiproxy.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-ui-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
    {{- if .Values.kubeslice.uiproxy.labels }}
    {{ toYaml .Values.kubeslice.uiproxy.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.kubeslice.uiproxy.annotations }}
        {{ toYaml .Values.kubeslice.uiproxy.annotations | nindent 8 }}
        {{- end }}
      {{- if .Values.kubeslice.uiproxy.labels }}
      labels:
      {{ toYaml .Values.kubeslice.uiproxy.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.kubeslice.uiproxy.tolerations }}
      tolerations: {{ toYaml .Values.kubeslice.uiproxy.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.kubeslice.uiproxy.affinity }}
      affinity:
      {{ toYaml .Values.kubeslice.uiproxy.affinity | nindent 8 }}
      {{- end }}
      containers:
        - name: kubeslice-ui-proxy
          securityContext:
          {{- if .Values.kubeslice.uiproxy.containerSecurityContext }}
          {{ toYaml .Values.kubeslice.uiproxy.containerSecurityContext | nindent 12 }}
          {{- end }}
          image: {{ include "component.image" (dict "component" .Values.kubeslice.uiproxy "global" .Values.global "context" .) }}
          imagePullPolicy: {{ include "component.imagePullPolicy" (dict "component" .Values.kubeslice.uiproxy "global" .Values.global "context" .) }}
          env:
          - name: KUBESLICE-CONTROLLER-PROMETHEUS
            value: {{ .Values.kubeslice.prometheus.url }}
          - name: REACT_APP_SOCKET_URL
            value: 'ws://kubeslice-api-gw.kubeslice-controller.svc.cluster.local:3000'
          ports:
            - containerPort: 8443
      {{- if include "global.imagePullSecretsWithFallback" . }}
      imagePullSecrets:
{{ include "global.imagePullSecretsWithFallback" . | indent 8 }}
      {{- end }}
      securityContext:
      {{- if .Values.kubeslice.uiproxy.podSecurityContext }}
      {{ toYaml .Values.kubeslice.uiproxy.podSecurityContext | nindent 8 }}
      {{- end }}
