---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nsmgr-cm
  namespace: kubeslice-system
data:
  create-nsmgr-svc.sh: |-
    #!/usr/bin/env bash
    #
    # Service name should be an RFC-1035 label name.
    # Get the md5 hash of the node name to use as the name of the
    # nsmgr service.
    SVC_NAME="nsm-$(echo $MY_NODE_NAME | md5sum | awk '{print $1}')"
    kubectl get svc $SVC_NAME -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Creating service $SVC_NAME"
        kubectl create service clusterip $SVC_NAME --tcp=5001:5001 --save-config=true -n kubeslice-system
        if [[ $? -eq 1 ]]; then
            echo "Failed to create service"
            exit 1
        fi
    fi

    kubectl label po $MY_POD_NAME nsmgr-svc=$SVC_NAME --overwrite -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Failed to label the pod"
        exit 1
    fi

    SELECTOR="nsmgr-svc=$SVC_NAME"
    kubectl get service $SVC_NAME -oyaml -n kubeslice-system | kubectl set selector --local=false -f - "$SELECTOR" -oyaml -n kubeslice-system
    if [[ $? -eq 1 ]]; then
        echo "Failed to set selector on the service"
        exit 1
    fi

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  {{- if .Values.nsmgr.labels }}
  labels:
  {{ toYaml .Values.nsmgr.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.nsmgr.annotations }}
  annotations:
  {{ toYaml .Values.nsmgr.annotations | nindent 4 }}
  {{- end }}
  name: nsmgr
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
    {{- if .Values.nsmgr.labels }}
    {{ toYaml .Values.nsmgr.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      annotations:
      {{- if .Values.nsmgr.annotations }}
      {{ toYaml .Values.nsmgr.annotations | nindent 8 }}
      {{- end }}
      {{- if .Values.nsmgr.labels }}
      labels:
      {{ toYaml .Values.nsmgr.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.nsmgr.affinity }}
      affinity:
      {{ toYaml .Values.nsmgr.affinity | nindent 8 }}
      {{- end }}
      serviceAccountName: nsmgr-acc
      imagePullSecrets:
      - name: {{ template "imagePullSecrets.secretName" . }}
      initContainers:
        - name: init
          # This is a small image with wait-for-it, choose whatever image
          # you prefer that waits for a service to be up. This image is built
          # from https://github.com/lqhl/wait-for-it
          image: '{{ include "nsm.imageRegistry" . }}/{{ .Values.nsmgr.waitForItImageRegistry }}:{{ .Values.nsmgr.waitForItImageTag }}'
          imagePullPolicy: IfNotPresent
          args: [ "-t", "120", "spire-server.spire:8081" ]
          #command: ['sh', '-c', 'sleep 120']
          #command: ['sh', '-c', "t=0; until [ -f /run/spire/sockets/agent.sock 2>&1 ] || [ $t -eq 5 ]; do t=`expr $t + 1`; sleep 15; done;"]
        - env:
          - name: MY_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          image: "{{ include "nsm.imageRegistry" . }}/alpine-k8s:1.0.1"
          imagePullPolicy: IfNotPresent
          name: nsmgr-init-svc-creator
          command:
            - /bin/sh
            - /tmp/create-nsmgr-svc.sh
          volumeMounts:
          - mountPath: /tmp/
            name: nsm-svc-config-volume
      # imagePullSecrets:
      # - name: {{ template "imagePullSecrets.secretName" . }}
      containers:
        - image: '{{ include "nsm.imageRegistry" . }}/{{ .Values.nsmgr.imageRegistry }}:{{ .Values.nsmgr.imageTag }}'
          imagePullPolicy: IfNotPresent
          securityContext: 
          {{- if .Values.nsmgr.containerSecurityContext }}
          {{ toYaml .Values.nsmgr.containerSecurityContext | nindent 12 }}
          {{- end }}
          name: nsmgr
          ports:
            - containerPort: 5001
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: unix:///run/spire/sockets/agent.sock
            - name: NSM_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSM_REGISTRY_URL
              value: "registry:5002"
            #            - name: DLV_LISTEN_NSMGR
            #              value: :40000
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NSM_LISTEN_ON
              value: unix:///var/lib/networkservicemesh/nsm.io.sock,tcp://:5001
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: INSECURE
              value: {{ .Values.insecure | default false | quote }}
            - name: TRACER_ENABLED
              value: {{ .Values.global.JaegerTracing | default false | quote }}
            - name: NSM_OPENTELEMETRYENDPOINT
              value: jaeger.{{ .Release.Namespace }}:6831
            - name: JAEGER_AGENT_HOST
              value: jaeger.{{ .Release.Namespace }}
            - name: JAEGER_AGENT_PORT
              value: "6831"
            - name: FORWARDER_NAME
              value: "kernel"
            - name: NSM_DIAL_TIMEOUT
              value: "5000ms"
            - name: NSM_LOG_LEVEL
              value: TRACE
          volumeMounts:
            - name: kubelet-socket
              mountPath: /var/lib/kubelet/device-plugins
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
            - name: nsm-config-volume
              mountPath: /var/lib/networkservicemesh/config/
          {{- if .Values.nsmgr.resources }}
          resources: 
          {{ toYaml .Values.nsmgr.resources | nindent 12 }}
          {{- end }}
          readinessProbe:
            exec:
              command: ["/bin/grpc-health-probe", "-spiffe", "-addr=:5001"]
            failureThreshold: 300
            initialDelaySeconds: 1
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            exec:
              command: ["/bin/grpc-health-probe", "-spiffe", "-addr=:5001"]
            failureThreshold: 25
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
          startupProbe:
            exec:
              command: ["/bin/grpc-health-probe", "-spiffe", "-addr=:5001"]
            failureThreshold: 25
            periodSeconds: 5
        - image: '{{ .Values.global.imageRegistry }}/{{ .Values.nsmgr.excludePrefixesImageRegistry }}:{{ .Values.nsmgr.excludePrefixesImageTag }}'
          imagePullPolicy: IfNotPresent
          securityContext: 
          {{- if .Values.nsmgr.containerSecurityContext }}
          {{ toYaml .Values.nsmgr.containerSecurityContext | nindent 12 }}
          {{- end }}
          name: exclude-prefixes
          env:
            - name: NSM_LOG_LEVEL
              value: TRACE
            - name: NSM_CONFIG_MAP_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: NSM_PREFIXES_OUTPUT_TYPE
              value: config-map
          volumeMounts:
            - name: nsm-config-volume
              mountPath: /var/lib/networkservicemesh/config/
          resources:
            limits:
              memory: 40Mi
              cpu: 75m
      volumes:
        - hostPath:
            path: /var/lib/kubelet/device-plugins
            type: DirectoryOrCreate
          name: kubelet-socket
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: Directory
        - name: nsm-socket
          hostPath:
            path: /var/lib/networkservicemesh
            type: DirectoryOrCreate
        - name: nsm-config-volume
          configMap:
            name: nsm-config
        - configMap:
            defaultMode: 420
            name: nsmgr-cm
          name: nsm-svc-config-volume
      {{- if .Values.nsmgr.tolerations }}
      tolerations: 
      {{ toYaml .Values.nsmgr.tolerations | nindent 8 }}
      {{- end }}
      securityContext:
      {{- if .Values.nsmgr.podSecurityContext }}
      {{ toYaml .Values.nsmgr.podSecurityContext | nindent 8 }}
      {{- end }}