---
apiVersion: batch/v1
kind: Job
metadata:
  name: kubeslice-controller-cleanup
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-delete
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed
spec:
  template:
    spec:
      {{- if .Values.kubeslice.controller.tolerations }}
      tolerations: 
      {{ toYaml .Values.kubeslice.controller.tolerations | nindent 8 }}
      {{- end }}
      serviceAccountName: kubeslice-controller-controller-manager
      containers:
        - name: cleanup
          securityContext:
            runAsUser: 65536
            runAsGroup: 65536
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          image: {{ include "kubeslice.image" (dict "image" .Values.kubeslice.controller.image "tag" .Values.kubeslice.controller.tag "registry" .Values.global.imageRegistry) }}
          imagePullPolicy: '{{ .Values.kubeslice.controller.pullPolicy }}'
          command:
            - /cleanup
          env:
            - name: KUBESLICE_CONTROLLER_MANAGER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      {{- include "kubeslice.imagePullSecrets" . | nindent 6 }}
      securityContext:
        runAsUser: 65536               # Non-root user
        runAsGroup: 65536              # Non-root group
        runAsNonRoot: true             # Ensure the container does not run as root
        seccompProfile:
          type: RuntimeDefault
      restartPolicy: Never
  backoffLimit: 1
