---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: gpuprovisioningrequests.gpr.kubeslice.io
spec:
  group: gpr.kubeslice.io
  names:
    categories:
    - all
    kind: GPUProvisioningRequest
    listKind: GPUProvisioningRequestList
    plural: gpuprovisioningrequests
    shortNames:
    - gpr
    - gprs
    singular: gpuprovisioningrequest
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GPUProvisioningRequest is the Schema for the gpuprovisioningrequests
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GPUProvisioningRequestSpec defines the desired state of GPUProvisioningRequest
            properties:
              clusterName:
                type: string
              dedicatedNodes:
                type: boolean
              earlyRelease:
                type: boolean
              enableRDMA:
                type: boolean
              enableSecondaryNetwork:
                type: boolean
              enforceIdleTimeOut:
                type: boolean
              estimatedStartTime:
                type: string
              estimatedWaitTime:
                type: string
              exitDuration:
                type: string
              gpuShape:
                type: string
              gpuSharingMode:
                type: string
              idleTimeOutDuration:
                type: string
              instanceType:
                type: string
              memoryPerGpu:
                type: integer
              multiNode:
                type: boolean
              numberOfGPUNodes:
                type: integer
              numberOfGPUs:
                type: integer
              priority:
                default: 101
                type: integer
              requestName:
                type: string
              sliceName:
                type: string
            required:
            - instanceType
            - numberOfGPUNodes
            - sliceName
            type: object
          status:
            description: GPUProvisioningRequestStatus defines the observed state of
              GPUProvisioningRequest
            properties:
              completionTimestamp:
                format: date-time
                type: string
              cost:
                type: string
              delayedCount:
                default: 0
                type: integer
              failureReason:
                type: string
              internalState:
                enum:
                - Reserved
                - Released
                type: string
              nodeList:
                items:
                  type: string
                type: array
              numGPUsAllocated:
                type: integer
              provisioningStatus:
                type: string
              retryCount:
                type: integer
              startTimestamp:
                format: date-time
                type: string
            required:
            - provisioningStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}