---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: workerslicegpuprovisioningrequests.worker.kubeslice.io
spec:
  group: worker.kubeslice.io
  names:
    kind: WorkerSliceGPUProvisioningRequest
    listKind: WorkerSliceGPUProvisioningRequestList
    plural: workerslicegpuprovisioningrequests
    shortNames:
    - slicegpr
    - slicegprs
    singular: workerslicegpuprovisioningrequest
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WorkerSliceGPUProvisioningRequest is the Schema for the workerslicegpuprovisioningrequests
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WorkerSliceGPUProvisioningRequestSpec defines the desired
              state of WorkerSliceGPUProvisioningRequest
            properties:
              clusterName:
                type: string
              dedicatedNodes:
                type: boolean
              earlyRelease:
                type: boolean
              enableRDMA:
                type: boolean
              enableSecondaryNetwork:
                type: boolean
              enforceIdleTimeOut:
                type: boolean
              exitDuration:
                type: string
              gpuSharingMode:
                type: string
              idleTimeOutDuration:
                type: string
              instanceType:
                type: string
              multiNode:
                type: boolean
              nodeList:
                items:
                  type: string
                type: array
              numberOfGPUNodes:
                type: integer
              numberOfGPUs:
                type: integer
              priority:
                type: integer
              requeueOnFailure:
                type: boolean
              sliceName:
                type: string
            required:
            - instanceType
            - numberOfGPUNodes
            - priority
            - sliceName
            type: object
          status:
            description: WorkerSliceGPUProvisioningRequestStatus defines the observed
              state of WorkerSliceGPUProvisioningRequest
            properties:
              completionTimestamp:
                format: date-time
                type: string
              cost:
                type: string
              estimatedTimestamp:
                format: date-time
                type: string
              estimatedWaitTime:
                type: string
              failureReason:
                type: string
              gpuUtilizationInfo:
                properties:
                  gpuMetrices:
                    items:
                      properties:
                        metricName:
                          type: string
                        metricValue:
                          type: string
                        timeStamp:
                          format: date-time
                          type: string
                      type: object
                    type: array
                  timeSinceNoUtilization:
                    format: date-time
                    type: string
                  unUtilizedDuration:
                    type: string
                type: object
              lastTransitionTime:
                format: date-time
                type: string
              numGPUsAllocated:
                type: integer
              provisioningStatus:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              remainingDuration:
                type: string
              startTimestamp:
                format: date-time
                type: string
            required:
            - provisioningStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
