apiVersion: v1
kind: ServiceAccount
metadata:
  name: gpr-manager-access
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gpr-manager-leader-election-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gpr-manager-manager-role
rules:
- apiGroups:
  - gpr.kubeslice.io
  resources:
  - gpuprovisioningrequests
  - workspacepolicies
  - gprautoevictions
  - gprtemplates
  - gprtemplatebindings
  - workloadtemplates
  - workloadplacements
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gpr.kubeslice.io
  resources:
  - gpuprovisioningrequests/finalizers
  - gprautoevictions/finalizers
  - gprtemplates/finalizers
  - gprtemplatebindings/finalizers
  - workloadtemplates/finalizers
  - workloadplacements/finalizers
  verbs:
  - update
- apiGroups:
  - gpr.kubeslice.io
  resources:
  - gpuprovisioningrequests/status
  - gprautoevictions/status
  - gprtemplates/status
  - gprtemplatebindings/status
  - workloadtemplates/status
  - workloadplacements/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - worker.kubeslice.io
  resources:
  - workloadplacements
  - workerslicegpuprovisioningrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - worker.kubeslice.io
  resources:
  - workerslicegpuprovisioningrequests/finalizers
  - workloadplacements/finalizers
  verbs:
  - update
- apiGroups:
  - worker.kubeslice.io
  resources:
  - workloadplacements/status
  - workerslicegpuprovisioningrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - controller.kubeslice.io
  resources:
  - projects
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - services
  - namespaces
  - secrets
  verbs:
  - get
  - list
  - create
  - watch
  - patch
  - update
- apiGroups:
  - worker.kubeslice.io
  - controller.kubeslice.io
  resources:
  - sliceconfigs
  - workersliceconfigs
  verbs:
  - get
  - list
  - watch
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gpr-manager-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gpr-manager-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gpr-manager-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: gpr-manager-leader-election-role
subjects:
- kind: ServiceAccount
  name: gpr-manager-access
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gpr-manager-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gpr-manager-manager-role
subjects:
- kind: ServiceAccount
  name: gpr-manager-access
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gpr-manager-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gpr-manager-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: gpr-manager-access
  namespace: {{ .Release.Namespace }}
---
