apiVersion: v1
kind: Service
metadata:
  labels:
    app: gpr-manager
  name: gpr-manager
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8083
  selector:
    control-plane: gpr-controller-manager