apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.egs.inventory.labels }}
  labels:
  {{ toYaml .Values.egs.inventory.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.egs.inventory.annotations }}
  annotations:
  {{ toYaml .Values.egs.inventory.annotations | nindent 4 }}
  {{- end }}
  name: egs-inventory-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    {{- if .Values.egs.inventory.labels }}
    matchLabels:
    {{ toYaml .Values.egs.inventory.labels | nindent 6 }}
    {{- end }}
  template:
    metadata:
      {{- if .Values.egs.inventory.annotations }}
      annotations:
        {{ toYaml .Values.egs.inventory.annotations | nindent 8 }}
      {{- end }}
      {{- if .Values.egs.inventory.labels }}
      labels:
      {{ toYaml .Values.egs.inventory.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.egs.inventory.affinity }}
      affinity:
      {{ toYaml .Values.egs.inventory.affinity | nindent 8 }}
      {{- end }}
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        command:
          - /manager
        image: "{{ .Values.egs.inventory.imageRegistry }}/{{ .Values.egs.inventory.image }}:{{ .Values.egs.inventory.tag }}"
        imagePullPolicy: "{{ .Values.egs.inventory.pullPolicy }}"
        env:
          - name: LOG_LEVEL
            value: {{ .Values.egs.inventory.logLevel }}
          - name: DEV_MODE
            value: "false"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        {{- if .Values.egs.inventory.resources }}
        resources: {{ toYaml .Values.egs.inventory.resources | nindent 10 }}
        {{- end }}
        {{- if .Values.egs.inventory.securityContext }}
        securityContext: {{ toYaml .Values.egs.inventory.securityContext | nindent 10 }}
        {{- end }}
      securityContext:
        runAsUser: 65536               # Non-root user
        runAsGroup: 65536              # Non-root group
        runAsNonRoot: true             # Ensure the container does not run as root
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: inventory-manager-access
      terminationGracePeriodSeconds: 10
      {{- if .Values.imagePullSecretsName }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretsName }}
      {{- end }}
      {{- if .Values.egs.inventory.tolerations }}
      tolerations: {{ toYaml .Values.egs.inventory.tolerations | nindent 8 }}
      {{- end }}
