apiVersion: v2
description:  KubeSlice operator - A Helm chart for managing life-cycle management of KubeSlice
name: kubeslice-worker-egs
type: application
maintainers:
  - name: Avesha
    email: support@avesha.io
keywords:
- multicloud
- multi cloud
- multitenant
- multitenancy
- multi tenant
- multi tenancy
- federated mesh
- federated clusters
- federated k8s
- federated kubernetes
- cluster sprawl
- sprawl
- namespace sprawl
- network policy
- overlay network
- mesh network
- security
- networking
- infrastructure
- application
kubeVersion: '>= 1.19.0-0'
home: https://avesha.io/products/product-slice
dependencies:
  - name: kserve
    repository: file://./charts/kserve
    version: v0.14.0
    condition: kserve.enabled
version: 1.12.0
appVersion: 1.12.0