apiVersion: v2
description:  KubeSlice operator - A Helm chart for managing life-cycle management of KubeSlice
name: kubeslice-worker-egs
type: application
maintainers:
  - name: Avesha
    email: support@avesha.io
keywords:
- multicloud
- multi cloud
- multitenant
- multitenancy
- multi tenant
- multi tenancy
- federated mesh
- federated clusters
- federated k8s
- federated kubernetes
- cluster sprawl
- sprawl
- namespace sprawl
- network policy
- overlay network
- mesh network
- security
- networking
- infrastructure
- application
kubeVersion: '>= 1.19.0-0'
home: https://avesha.io/products/product-slice
dependencies:
  - name: nsm
    repository: file://./charts/nsm
    version: 0.6.4
    condition: kubesliceNetworking.enabled
  - name: netop
    repository: file://./charts/netop
    version: 0.2.0
    condition: kubesliceNetworking.enabled
version: 0.7.2
appVersion: 0.7.2
