{{- if .Values.kserve.modelmesh.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: modelmesh-controller
    app.kubernetes.io/managed-by: modelmesh-controller
    app.kubernetes.io/name: modelmesh-controller
  name: modelmesh

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: modelmesh-controller
    app.kubernetes.io/managed-by: modelmesh-controller
    app.kubernetes.io/name: modelmesh-controller
  name: modelmesh-controller
{{- $imagePullSecrets := list }}
{{- if .Values.kserve.modelmesh.controller.imagePullSecrets }}
  {{- $imagePullSecrets = .Values.kserve.modelmesh.controller.imagePullSecrets }}
{{- else if and .Values.global .Values.global.imagePullSecrets .Values.global.imagePullSecrets.secretName }}
  {{- $imagePullSecrets = list (dict "name" .Values.global.imagePullSecrets.secretName) }}
{{- end }}
{{- if $imagePullSecrets }}
imagePullSecrets:
  {{- toYaml $imagePullSecrets | nindent 2 }}
{{- end }}
{{- end }}
