global:
  netop_docker_existingImagePullSecret: "kubeslice-image-pull-secret"
  # IF You dont have existing secret then pass all below values it will create new secret "avesha-docker-ips"
  ## MANDOTORY FIELDS IF EXISTING SECRET NOT PRESENT ##
  netop_docker_imagePullSecrets:
    repository: 
    username: ''
    password: ''
    email: ''
  imageRegistry: docker.io/aveshasystems
netop:
  networkInterface: eth0
  image: netops
  tag: 0.2.2 
  pullPolicy: IfNotPresent
  labels:
    app: app_net_op
    kubeslice.io/pod-type: netop
  annotations:
    prometheus.io/port: "18080"
    prometheus.io/scrape: "true"
  podSecurityContext: {}
    # runAsUser: 65536               # Non-root user
    # runAsGroup: 65536              # Non-root group
    # runAsNonRoot: true             # Ensure the container does not run as root
    # seccompProfile:
    #   type: RuntimeDefault
  containerSecurityContext: {}
    # runAsUser: 65536
    # runAsGroup: 65536
    # runAsNonRoot: true
    # seccompProfile:
    #   type: RuntimeDefault
    # allowPrivilegeEscalation: false
    # capabilities:
    #   drop:
    #     - ALL
    # readOnlyRootFilesystem: true
  tolerations:
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "amd64"
      effect: "NoSchedule"
    - key: "kubernetes.io/arch"
      operator: "Equal"
      value: "arm64"
      effect: "NoSchedule"
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubeslice.io/node-type
            operator: In
            values:
            - gateway
