apiVersion: v2
name: kubeslice-controller-egs
description: Kubernetes multi-cluster/cloud fleet management controller using Kubeslice
icon: https://avatars.githubusercontent.com/u/99859346?s=200&v=4
type: application
maintainers:
  - name: Avesha
    email: support@aveshasystems.com
keywords:
- multicloud
- multi cloud
- multitenant
- multitenancy
- multi tenant
- multi tenancy
- federated mesh
- federated clusters
- federated k8s
- federated kubernetes
- cluster sprawl
- sprawl
- namespace sprawl
- network policy
- overlay network
- mesh network
- security
- networking
- infrastructure
- application
kubeVersion: '>= 1.19.0-0'
home: https://avesha.io/products/product-slice
dependencies:
  - name: kubetally
    repository: file://./charts/kubetally
    version: 1.*.*
    condition: global.kubeTally.enabled
version: 1.15.2
appVersion: 1.15.2
