apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-kserve-preinstall-job"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-16"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 1
  template:
    metadata:
      name: "{{ .Release.Name }}"
      labels:
        app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    spec:
      {{- if .Values.kserve.controller.tolerations }}
      tolerations: {{ toYaml .Values.kserve.controller.tolerations | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      serviceAccountName: kserve-preinstall-sa
      containers:
        - name: pre-install-job
          securityContext:
            runAsUser: 65536
            runAsGroup: 65536
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          image: "{{ .Values.global.imageRegistry }}/alpine-k8s:1.22.9"
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh","/opt/scripts/pre-install.sh"]
          volumeMounts:
            - name: config-volume
              mountPath: /opt/scripts
      {{- $imagePullSecretName := "" }}
      {{- if and .Values.global .Values.global.imagePullSecrets .Values.global.imagePullSecrets.secretName }}
        {{- $imagePullSecretName = .Values.global.imagePullSecrets.secretName }}
      {{- else if .Values.imagePullSecretsName }}
        {{- $imagePullSecretName = .Values.imagePullSecretsName }}
      {{- end }}
      {{- if $imagePullSecretName }}
      imagePullSecrets:
        - name: {{ $imagePullSecretName }}
      {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-kserve-preinstall-configmap
            defaultMode: 0777
