---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: kserve-controller-manager
    app.kubernetes.io/managed-by: kserve-controller-manager
    app.kubernetes.io/name: kserve-controller-manager
  name: kserve-controller-manager
{{- $imagePullSecrets := list }}
{{- if .Values.kserve.controller.imagePullSecrets }}
  {{- $imagePullSecrets = .Values.kserve.controller.imagePullSecrets }}
{{- else if and .Values.global .Values.global.imagePullSecrets .Values.global.imagePullSecrets.secretName }}
  {{- $imagePullSecrets = list (dict "name" .Values.global.imagePullSecrets.secretName) }}
{{- end }}
{{- if $imagePullSecrets }}
imagePullSecrets:
  {{- toYaml $imagePullSecrets | nindent 2 }}
{{- end }}
