{{- $secretName := "aiops-admission-webhook-certs" }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $caCertEnc := "" -}}
{{- $tlsCertEnc := "" -}}
{{- $tlsKeyEnc := "" -}}
{{- if not $existingSecret }}
# generate a new ca & certificate
{{- $ca := genCA "aiops-admission-controller-ca" 3650 -}}
{{- $caCertEnc = $ca.Cert | b64enc -}}
{{- $cn := printf "aiops-webhook-service" -}}
{{- $altName1 := printf "%s.%s.svc" $cn .Release.Namespace }}
{{- $altName2 := printf "%s.%s.svc.cluster.local" $cn .Release.Namespace }}
{{- $cert := genSignedCert $cn nil (list $altName1 $altName2) 3650 $ca -}}
{{- $tlsCertEnc = $cert.Cert | b64enc -}}
{{- $tlsKeyEnc = $cert.Key | b64enc -}}
{{- else }}
# Reuse existing certificates from the secret
{{- $caCertEnc = index $existingSecret.data "ca.crt" -}}
{{- $tlsCertEnc = index $existingSecret.data "tls.crt" -}}
{{- $tlsKeyEnc = index $existingSecret.data "tls.key" -}}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: aiops-admission-webhook-certs
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  ca.crt: {{ $caCertEnc }}
  tls.crt: {{ $tlsCertEnc }}
  tls.key: {{ $tlsKeyEnc }}
---
apiVersion: v1
kind: Service
metadata:
  name: aiops-webhook-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    control-plane: aiops-controller-manager
---
apiVersion: v1
kind: Service
metadata:
  name: aiops-metrics-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: metrics
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    control-plane: aiops-controller-manager
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: aiops-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    caBundle: {{ $caCertEnc }}
    service:
      name: aiops-webhook-service
      namespace: {{ .Release.Namespace }}
      path: /mutate-webhook
  failurePolicy: Fail
  name: webhook.aiops.io
  rules:
  - apiGroups:
    - ""
    # - apps
    # - batch
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - pods
    # - jobs
    # - deployments
    # - statefulsets
    # - daemonsets
  sideEffects: NoneOnDryRun
  namespaceSelector:
    matchExpressions:
    - key: kubeslice.io/slice
      operator: Exists
    - key: name
      operator: NotIn
      values:
        - kube-system
        - spire
        - kubeslice-system
        - kubeslice-controller
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
        - kube-system
        - spire
        - kubeslice-system
        - kubeslice-controller
---
# apiVersion: admissionregistration.k8s.io/v1
# kind: ValidatingWebhookConfiguration
# metadata:
#   creationTimestamp: null
#   name: aiops-validating-webhook-configuration
# webhooks:
# - admissionReviewVersions:
#   - v1
#   clientConfig:
#     caBundle: {{ $caCertEnc }}
#     service:
#       name: aiops-webhook-service
#       namespace: {{ .Release.Namespace }}
#       path: /validate-webhook
#   failurePolicy: Fail
#   name: webhook.aiops.io
#   rules:
#   - apiGroups:
#     - ""
#     - apps
#     - batch
#     apiVersions:
#     - v1
#     operations:
#     - CREATE
#     - UPDATE
#     resources:
#     - pods
#     - jobs
#     - deployments
#     - statefulsets
#     - daemonsets
#   sideEffects: NoneOnDryRun
#   namespaceSelector:
#     matchExpressions:
#     - key: kubeslice.io/slice
#       operator: Exists
#     - key: name
#       operator: NotIn
#       values:
#         - kube-system
#         - spire
#         - kubeslice-system
#         - kubeslice-controller
#     - key: kubernetes.io/metadata.name
#       operator: NotIn
#       values:
#         - kube-system
#         - spire
#         - kubeslice-system
#         - kubeslice-controller
