apiVersion: v1
kind: ConfigMap
metadata:
  name: daemonset-toleration-config
  namespace: {{ .Release.Namespace }}
  labels:
    component: daemonset-toleration-config
data:
  daemonsets: |
    egs-gpu-operator/gpu-feature-discovery
    egs-gpu-operator/gpu-operator-release-node-feature-discovery-worker
    egs-gpu-operator/nvidia-container-toolkit-daemonset
    egs-gpu-operator/nvidia-dcgm-exporter
    egs-gpu-operator/nvidia-device-plugin-daemonset
    egs-gpu-operator/nvidia-device-plugin-mps-control-daemon
    egs-gpu-operator/nvidia-mig-manager
    egs-gpu-operator/nvidia-operator-validator
    egs-monitoring/prometheus-prometheus-node-exporter
    kube-system/nvidia-driver-installer
    kube-system/nvidia-gpu-device-plugin-large-cos
    kube-system/nvidia-gpu-device-plugin-large-ubuntu
    kube-system/nvidia-gpu-device-plugin-medium-cos
    kube-system/nvidia-gpu-device-plugin-medium-ubuntu
    kube-system/nvidia-gpu-device-plugin-small-cos
    kube-system/nvidia-gpu-device-plugin-small-ubuntu
