---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- if .Values.operator.labels }}
  labels:
  {{ toYaml .Values.operator.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.operator.annotations }}
  annotations:
  {{ toYaml .Values.operator.annotations | nindent 4 }}
  {{- end }}
  name: kubeslice-operator
  namespace: kubeslice-system
spec:
  replicas: 1
  selector:
    matchLabels:
    {{- if .Values.operator.labels }}
    {{ toYaml .Values.operator.labels | nindent 6 }}
    {{- end }}
      spoke-cluster: {{ .Values.cluster.name }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ now | quote | sha256sum }}
        {{- if .Values.operator.annotations }}
        {{ toYaml .Values.operator.annotations | nindent 8 }}
        {{- end }}
      {{- if .Values.operator.labels }}
      labels:
        spoke-cluster: {{ .Values.cluster.name }}
      {{ toYaml .Values.operator.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.operator.tolerations }}
      tolerations: {{ toYaml .Values.operator.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.operator.affinity }}
      affinity:
      {{ toYaml .Values.operator.affinity | nindent 8 }}
      {{- end }}
      containers:
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: {{ include "kubeslice.image" (dict "imageRoot" .Values.rbacproxy "global" .Values.global) }}
        name: kube-rbac-proxy
        securityContext: 
        {{- if .Values.operator.containerSecurityContext }}
        {{ toYaml .Values.operator.containerSecurityContext | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --leader-elect
        - --chargeback-reconciler-interval=5m
        - --num-of-app-services-per-cr=50
        command:
        - /manager
        image: {{ include "kubeslice.image" (dict "imageRoot" .Values.operator "global" .Values.global) }}
        imagePullPolicy: {{ include "kubeslice.imagePullPolicy" (dict "pullPolicy" .Values.operator.pullPolicy "global" .Values.global) }}
        env:
          - name: PROMETHEUS_SERVICE_ENDPOINT
            valueFrom:
              configMapKeyRef:
                name: aiops-config
                key: PROMETHEUS_SERVICE_ENDPOINT
          - name: LOG_LEVEL
            value: {{ .Values.operator.logLevel }}
          - name: HUB_HOST_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: {{ .Values.controllerSecretName }}
                key: endpoint
          - name: HUB_PROJECT_NAMESPACE
            valueFrom:
              secretKeyRef:
                name: {{ .Values.controllerSecretName }}
                key: namespace
          - name: CLUSTER_NAME
            value: {{ .Values.cluster.name }}
          - name: CLUSTER_ENDPOINT
            value: "{{ .Values.cluster.endpoint }}"
          - name: WORKER_INSTALLER_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.workerInstaller "global" .Values.global) }}
          - name: IMAGE_PULL_SECRET_NAME
            value: {{ include "kubeslice.imagePullSecrets" . }}
          - name: ENABLE_SLICE_CHARGEBACK
            value: "true"
          - name: EXCLUDED_NS
            value: '{{ .Values.operator.excludeNamespaces | join "," }}'
          - name: AVESHA_VL3_ROUTER_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.router "global" .Values.global) }}
          - name: AVESHA_VL3_ROUTER_PULLPOLICY
            value: {{ .Values.router.pullPolicy }}
          - name: AVESHA_VL3_SIDECAR_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.routerSidecar "global" .Values.global) }}
          - name: AVESHA_VL3_SIDECAR_IMAGE_PULLPOLICY
            value: {{ .Values.routerSidecar.pullPolicy }}
          - name: AVESHA_GW_SIDECAR_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.gateway "global" .Values.global) }}
          - name: AVESHA_GW_SIDECAR_IMAGE_PULLPOLICY
            value: '{{ .Values.gateway.pullPolicy }}'
          - name: AVESHA_OPENVPN_SERVER_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.openvpn.server "global" .Values.global) }}
          - name: AVESHA_OPENVPN_SERVER_PULLPOLICY
            value: '{{ .Values.openvpn.server.pullPolicy }}'
          - name: AVESHA_OPENVPN_CLIENT_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.openvpn.client "global" .Values.global) }}
          - name: AVESHA_OPENVPN_CLIENT_PULLPOLICY
            value: '{{ .Values.openvpn.client.pullPolicy }}'
          - name: WIREGUARD_SERVER_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.wireguard.server "global" .Values.global) }}
          - name: WIREGUARD_SERVER_PULLPOLICY
            value: '{{ .Values.wireguard.server.pullPolicy }}'
          - name: WIREGUARD_CLIENT_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.wireguard.client "global" .Values.global) }}
          - name: WIREGUARD_CLIENT_PULLPOLICY
            value: '{{ .Values.wireguard.client.pullPolicy }}'
          - name: AVESHA_SLICE_GW_EDGE_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.gatewayEdge "global" .Values.global) }}
          - name: AVESHA_ENVOY_PROXY_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.envoy.proxy "global" .Values.global) }}
          - name: AVESHA_ENVOY_GW_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.envoy.gateway "global" .Values.global) }}
          - name: AVESHA_ISTIO_PROXY_IMAGE
            value: {{ include "kubeslice.image" (dict "imageRoot" .Values.istio.proxy "global" .Values.global) }}
          {{- if .Values.operator.env }}
          {{- range .Values.operator.env }}
          - name: {{ .name }}
            value: {{ .value }}
          {{- end }}
          {{- end }}

        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        securityContext:
        {{- if .Values.operator.containerSecurityContext }}
        {{ toYaml .Values.operator.containerSecurityContext | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        {{- if .Values.operator.resources }}
        resources: {{ toYaml .Values.operator.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
          - name: kubeslice-worker-event-schema-conf
            mountPath: /events/event-schema/
          - mountPath: /var/run/secrets/kubernetes.io/hub-serviceaccount
            name: hub-secret
            readOnly: true
          - mountPath: /etc/webhook/certs
            name: webhook-certs
            readOnly: true
      serviceAccountName: kubeslice-controller-manager
      securityContext:
      {{- if .Values.operator.podSecurityContext }}
      {{ toYaml .Values.operator.podSecurityContext | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      volumes:
        - name: kubeslice-worker-event-schema-conf
          configMap:
            name: kubeslice-worker-event-schema-conf
            defaultMode: 420
        - name: webhook-certs
          secret:
            secretName: kubeslice-admission-webhook-certs
        - name: hub-secret
          secret:
            defaultMode: 420
            secretName: {{ .Values.controllerSecretName }}
            items:
            - key: "ca.crt"
              path: "ca.crt"
            - key: "token"
              path: "token"
      imagePullSecrets:
        - name: {{ include "kubeslice.imagePullSecrets" . }}
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #       - matchExpressions:
      #         - key: kubeslice.io/node-type
      #           operator: In
      #           values:
      #           - gateway
---
apiVersion: v1
data:
  {{ if .Values.events.disabled }}
  worker.yaml: |-
    disabledEvents:
    - LicenseSecretNotFound
  {{ else }}
  worker.yaml: |- 
    disabledEvents:
    - LicenseSecretNotFound
  {{ end }} 
kind: ConfigMap
metadata:
  labels:
    name: event-schema
  name: kubeslice-worker-event-schema-conf
  namespace: kubeslice-system
